html, body {
	font-family: 'Arial';
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	color: #444;
}

.radius {
    border-radius: 16px;
    box-shadow: 0 0 3px 3px #bdbdbd;
    background: #3F4137;
    position:relative;
    margin: auto 50%;
    left:0;
    width:auto;
    max-width: 350px;
    height:auto;
    max-height: 350px;
    min-height: 350px;
    min-width: 350px;
    overflow:hidden;
}

.post_row {
    border-radius: 16px;
    margin: 1% 0 0 0;
    background: #c0c0c0;
    width:auto;
    word-break: break-all;
    max-width: 2000px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
}

.post_row_info {
    left:0;
    border-width: 4px 0 4px 4px;
    border-style: hidden  double hidden hidden;
    border-color: #f3e5f5;
    margin: auto 1% 2% 2%;
    width:auto;
    max-width: 2000px;
    font-size:1.3em;
    align-items:  flex-start;
    align-content:  flex-start;
    word-break: break-all;
    justify-content:  flex-start;
    flex-direction: column;
}
.post_row_message {
    border-color: #f3e5f5;
    right: 0;
    width:auto;
    max-width: 500px;
    font-size:1.3em;
    align-items:  flex-start;
    word-break: break-all;
    align-content:  flex-start;
    justify-content:  flex-start;
    flex-direction: column;
}

.post_image{
    height: 150px;
    width: 150px;
}

.post_buttons {
    border-radius: 16px;
    margin: auto;
    width:auto;
    max-width: 2000px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: center;
    justify-content: flex-end;
}



.table-page {
	width: 100%;
	height: 100%;
	vertical-align: top;
}
.table-page tr {height: 100%;}

.clear {clear: both;}

.header {
	background: #3F4137;
	height: 60px;
}
div.button {
	background: #3F4137;
	max-width: 200px;
	margin: 0 auto;
	padding: 5px 20px 5px 20px;
	border-radius: 10px;
	font-size: 20px;
}

.table-content {
	width: 100%;
	min-height: 100%;
	height: 100%;
}

.content {
	padding: 40px 20px 20px 40px;
	width: 100%;
	box-sizing: border-box;
}

.content-text {
	margin: 60px 0 0 30px;
	color: #000;
	font-size: 20px;
	font-family: Yandex Sans Display Light;
}
.content-text h1 {font-size: 32px;}

ul.lang-list {
	list-style: none;
	margin: 0;
	padding: 14px 0 0 0;
	background: #3F4137;
	width: 100%;
	height: 50px;
	border-top: 1px solid #959A82;
	box-sizing: border-box;
	font-size: 18px;
	font-family: Sans-serif, Arial, Tahoma;
}
ul.lang-list li {
	display: inline-block;
	margin-left: 40px;
}
ul.lang-list li.selected {color: #fdc073; border-bottom: 1px solid #fdc073;}
ul.lang-list li a {
	color: #eee;
	text-decoration: none;
}
ul.lang-list li a:hover {color: #fdc073;}

#footer {
	box-sizing: border-box;

	background: #3F4137;
	padding: 5px;
	color: #aaa;
	font-size: 14px;
	font-family: Verdana, Geneva, Arial, Helvetica;
	text-align: left;
	overflow: hidden;
}
#footer a {
	text-decoration: underline;
	color: #aaa;
}

.form-input {
    max-width: 800px;
    min-width: 300px;
    width: 95%
    font-size: 16px;
}

.form-label {
    display: inline-block;
    min-width: 150px;
    vertical-align: top;
}

.form-error ul {
    list-style: none;
    padding: 0;
    color: #CC0000;
}

.form-button {
    min-width: 200px;
    font-size: 16px;
}

.list-pages {
	text-align: center;
	margin: 0 0 20px 0;
}
.list-pages ul {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}
.list-pages ul li {
	display: inline-block;
	margin: 0 20px 0 0;
}
.list-pages a {
	color: #000;
	font-size: 24px;
	text-decoration: none;
}
.list-pages .page-num, .page-num-selected {
	display: inline-block;
	width: 60px;
	height: 44px;
	padding: 16px 0 0 0;
	border: 1px solid #d0d0d0;
	border-radius: 30px;
}
.list-pages .page-num:hover {
	box-shadow: 3px 3px 1px #d0d0d0; 
}
.list-pages .page-num-selected {
	border: none;
	color: #000;
	font-size: 20px;
}
.list-pages .page-num-selected:hover {
	box-shadow: none; 
}
