{% extends 'ml_forum/base.html' %}
{% block content %}
<h1>{{title}}</h1>
<h1>{{section.name}}</h1>
{% if request.user.username != '' %}
{% if request.user.userprofile.verified %}
<a class="btn btn-secondary" href="{% url 'add_topic' section.pk %}">Создать тему</a>
{% endif %}
{% endif %}
    {% if topics_count == 0 %}
        <h1>Тем пока нет</h1>
    {% else %}
<div class="list-group">
    {% for t in topics %}
        {% if t.is_published %}
        <a href="{{t.get_absolute_url}}" class="list-group-item list-group-item-action list-group-item-secondary" style="margin: 1% auto;">{{t.name}}<br>Постов:{{t.posts_count}}<br> {{t.description}}</a>
        {% endif %}
    {% endfor %}
</div>
{% endif %}
{% endblock %}
